/*.App {
  text-align: center;
  margin-left:100;
}*/

body {
  background-color: #2B2515;
  color: #ffffff;
  margin: 0px;
  font-family: Courier New;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --antd-wave-shadow-color: #D09800;
}

.App-link {
  color: #D09800;
  font-size: 14;
}

.ant-menu-inline .ant-menu-item::after{
  border-right: 3px solid #D09800;
}

.ant-menu-horizontal > .ant-menu-item-selected{
  border-bottom: 3px solid #D09800;
}

.ant-menu-horizontal > .ant-menu-item-active{
  border-bottom: 3px solid #D09800;
}

.ant-menu-horizontal > .ant-menu-item:hover{
  border-bottom: 3px solid #D09800;
}

.ant-menu {
  background: #2B2515;
}

.ant-menu-root.ant-menu-inline{
  background-color: #2B2515;
}

.ant-layout-header{
  padding:0;
  background: #110D01;
  height: 47;
}
.ant-menu-item{
  width: 48;
  padding:5
}

.ant-input{
  background: #110D01;
  color:#D09800;
  border: 1px solid #D09800;
}

.ant-input{
  caret-color: #D09800;
}
.ant-input:placeholder-shown{
  color: #000
}

.ant-input:focus {
  border-color: #D09800;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(87,168,233, .2);
  box-shadow: 0 0 0 2px rgba(87,168,233, .2);
  caret-color: #D09800;
}

.ant-input::selection {
  border-color: #D09800;
  background: #D09800;
  caret-color: #D09800;
}

::selection {
  color: #fff;
  background: #D09800;
}

a:hover {
  color: #D09800;
}

.ant-progress-text {
  color: #97948E;
  font-size: 20;
}

.ant-table-thead > tr > th{
  color: #fff;
  font-weight: 800;
  font-size: 20;
  border-bottom: 1px solid #97948E;
  background: #2B2515;
  margin-bottom:5;
}
.ant-table-tbody > tr > td{
  color: #fff;
  background-color: #2B2515;
  border-bottom: 1px solid #97948E;
}

.ant-table-placeholder {
  background: #2B2515;
}
.ant-empty-description{
  color:#97948E
}

.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background: #2B2515;
}

.ant-tabs-nav .ant-tabs-tab-active{
  color: #D09800;
  font-weight:800;
  border-bottom: 2px solid #D09800;
}

.ant-tabs {
  color: #fff;
  font-weight:500;
}

.ant-tabs-ink-bar {
  background-color: #D09800;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: #D09800;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #D09800;
  font-weight: 800;
}
.ant-menu-item-selected {
  color: #D09800;
}
.ant-menu-item-selected > a,
.ant-menu-item-selected > a:hover {
  color: #D09800;
}
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #D09800;
  border-bottom: 2px solid #D09800;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  color: #D09800;
}

.ant-menu {
  color: #D09800;
  font-weight: 800;
}

.ant-drawer-title {
  margin: 0;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-top:5px;
}
