/*.App {
  text-align: center;
  margin-left:100;
}*/

body {
  background-color: #2B2515;
  color: #ffffff;
  margin: 0px;
  font-family: Courier New;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --antd-wave-shadow-color: #D09800;
}

.App-link {
  color: #D09800;
  font-size: 14;
}

.ant-menu-inline .ant-menu-item::after{
  border-right: 3px solid #D09800;
}

.ant-menu {
  background: #2B2515;
}

.ant-menu-root.ant-menu-inline{
  background-color: #2B2515;
}

.ant-input{
  color: #000
}
.ant-input:placeholder-shown{
  color: #000
}

.ant-input:focus {
  border-color: #D09800;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(87,168,233, .2);
  box-shadow: 0 0 0 2px rgba(87,168,233, .2);
}

.ant-input::selection {
  border-color: #D09800;
  background: #D09800;
}
.ant-table-thead > tr > th{
  color: #97948E;
  font-weight: 800;
  font-size: 20;
  border-bottom: 1px solid #97948E;
  background: #2B2515;
  margin-bottom:5;
}
.ant-table-tbody > tr > td{
  color: #fff;
  /* background-color: #110D01; */
  background-color: #2B2515;
  border-bottom: 1px solid #97948E;
}
/* .ant-table::selection {
  background-color: #110D01;
}
.ant-table-selection .anticon-down {
  color: #fff;
}

.ant-table-selection-menu {
  background: #110D01;
}

.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
  background: #110D01;
}
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover .anticon-filter,
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover .ant-table-filter-icon {
  background: #110D01;
} */

.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background: #2B2515;
}

