@import "src/ui/less/fonts.less";
@import "src/ui/less/typography.less";

@text-color: red; // major text color
@text-color-secondary: red; // secondary text color

header.ant-layout-header {
  width: 100%;
  position: fixed;
  padding: 0 9px;
  z-index: 1;
}

.ant-layout-sider {
  height: 100%;
  position: fixed;
  padding-top: 64px;
  z-index: 0;
}

main.ant-layout-content {
  > div.ant-wrapper{
    padding: 128px 20% 128px calc(~'20% + 150px');
    @media (max-width: 767px) {
      padding: 128px 12%;
    }
    @media (min-width: 1400px) {
      margin: 0 auto;
      padding: 128px 0;
      max-width: 960px;
    }
  }

}

.ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
  overflow: initial;
}

.App-link {
  color: #D09800;
}

.ant-menu-inline .ant-menu-item::after{
  border-right: 3px solid #D09800;
}

.ant-menu-horizontal > .ant-menu-item-selected{
  border-bottom: 3px solid #D09800;
}

.ant-menu-horizontal > .ant-menu-item-active{
  border-bottom: 3px solid #D09800;
}

.ant-menu-horizontal > .ant-menu-item:hover{
  border-bottom: 3px solid #D09800;
}

.ant-menu {
  background: #2B2515;
}

.ant-menu-root.ant-menu-inline{
  background-color: #2B2515;
}

.ant-input{
  background: #110D01;
  color:#D09800;
  border: 1px solid #D09800;
}

.ant-input{
  caret-color: #D09800;
}
.ant-input:placeholder-shown{
  color: #000
}

.ant-input:focus {
  border-color: #D09800;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(87,168,233, .2);
  box-shadow: 0 0 0 2px rgba(87,168,233, .2);
  caret-color: #D09800;
}

.ant-input::selection {
  border-color: #D09800;
  background: #D09800;
  caret-color: #D09800;
}

::selection {
  color: #fff;
  background: #D09800;
}

a:hover {
  color: #D09800;
}

.ant-progress-text {
  color: #97948E;
}

.ant-table-thead > tr > th{
  color: #fff;
  font-weight: 800;
  border-bottom: 1px solid #97948E;
  background: #2B2515;
}
.ant-table-tbody > tr > td{
  color: #fff;
  background-color: #2B2515;
  border-bottom: 1px solid #97948E;
}

.ant-table-placeholder {
  background: #2B2515;
}
.ant-empty-description{
  color:#97948E
}

.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background: #2B2515;
}

.ant-tabs-nav .ant-tabs-tab-active{
  color: #D09800;
  font-weight:800;
  border-bottom: 2px solid #D09800;
}

.ant-tabs {
  color: #fff;
  font-weight:500;
}

.ant-tabs-ink-bar {
  background-color: #D09800;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: #D09800;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #D09800;
  font-weight: 800;
}
.ant-menu-item-selected {
  color: #D09800;
}
.ant-menu-item-selected > a,
.ant-menu-item-selected > a:hover {
  color: #D09800;
}
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #D09800;
  border-bottom: 2px solid #D09800;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  color: #D09800;
}

.ant-menu {
  color: #D09800;
  font-weight: 800;
}

.ant-drawer-title {
  margin: 0;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-top:5px;
}
