.ant-tabs-tab-prev,
.ant-tabs-tab-next {
  color: #d09800;
}

.ant-tabs-tab-prev-icon,
.ant-tabs-tab-next-icon {
  top: 54%;
}

:root .ant-tabs-tab-prev-icon-target,
:root .ant-tabs-tab-next-icon-target {
  font-size: 24px;
}


.ant-tabs-nav .ant-tabs-tab:hover {
  color: inherit;
}
