.ant-input{
  background: #110D01;
  color:#D09800;
  border: 1px solid #D09800;
}

.ant-input{
  caret-color: #D09800;
}

.ant-input:placeholder-shown{
  color: #000
}

.ant-input::selection {
  border-color: #D09800;
  background: #D09800;
  caret-color: #D09800;
}

.ant-input-affix-wrapper .ant-input-prefix,
.ant-input-affix-wrapper .ant-input-suffix {
  color: rgba(255, 255, 255, 0.45);
}

.ant-input-number-disabled,
.ant-input[disabled] {
  color: rgba(255, 255, 255, 0.25);
  background: #110D01;
  border: 1px solid #ffffff45;
}

.ant-input[disabled]:hover {
  border-color: #ffffff40;
  border-right-width: 1px !important;
}

.ant-input[disabled]::placeholder {
  color: rgba(255, 255, 255, 0.25);
}