.ant-input{
  background: #110D01;
  color:#D09800;
  border: 1px solid #D09800;
}

.ant-input{
  caret-color: #D09800;
}

.ant-input:placeholder-shown{
  color: #000
}

.ant-input::selection {
  border-color: #D09800;
  background: #D09800;
  caret-color: #D09800;
}

.ant-input-affix-wrapper .ant-input-prefix,
.ant-input-affix-wrapper .ant-input-suffix {
  color: rgba(255, 255, 255, 0.45);
}

.ant-input-suffix {
  margin: 0;
}

.ant-select-selection {
  border-color: #D09800;
}

.ant-select-selection-selected-value {
  color: #D09800;
}

.ant-select-dropdown-menu-item {
  color: rgba(255, 255, 255, 0.65);
}

.ant-select-dropdown-menu-item-selected {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
  background-color: lighten(#D09800, 15%);
}

.ant-select-dropdown-menu-item-active:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #d09800;
  color: rgba(0, 0, 0, 0.65);
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: lighten(#D09800, 3%);
  color: rgba(0, 0, 0, 0.65);
}

.ant-select-arrow {
  color: rgba(255, 255, 255, 0.45);
}

.ant-input-number-disabled,
.ant-input[disabled] {
  color: rgba(255, 255, 255, 0.25);
  background: #110D01;
  border: 1px solid #ffffff45;
}

.ant-input[disabled]:hover {
  border-color: #ffffff40;
  border-right-width: 1px !important;
}

.ant-input[disabled]::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.ant-radio-button-wrapper:first-child {
  border-left: 1px solid #97948e;
}

.ant-radio-button-wrapper {
  color: #97948e;
  border: 1px solid #97948e;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  background-color: #000;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: #000 !important;
  opacity: 1;
}

.ant-radio-inner {
  margin: 0;
  border-color: #97948e;
  color: #fff;
  width: 17px;
  border-radius: 50%;
}

.ant-radio-inner::after {
  left: 4px;
}

label.ant-radio-wrapper {
  color: #ffffffa6;
}
span.ant-radio + * {
  padding-right: 12px;
  padding-left: 12px;
  vertical-align: middle;
}

.ant-slider-track {
  background-color: #D09800;
}

.ant-slider:hover .ant-slider-track {
  background-color: #deb223;
}

.ant-slider-handle {
  border: solid 2px #D09800;
}

.ant-input-number {
  border: 1px solid #D09800;
  color: #bfbfbf;
}

.ant-input-number-handler {
  margin: 0;
}

.ant-input-number-handler-wrap {
  border-left: 1px solid #4e4e4e;
}

.ant-input-number-handler-down {
  border-top: 1px solid #4e4e4e;
}

.ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-up-inner,
.ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-down-inner {
  color: rgba(255, 255, 255, 0.45);
}

.ant-input-number-handler-up:hover .ant-input-number-handler-up-inner,
.ant-input-number-handler-down:hover .ant-input-number-handler-down-inner {
    color: #deb223;
}