html,
body {
  padding: 0;
  margin: 0;
  font: 1em/1.5 -apple-system, Lato, sans-serif;
  background-color: #2B2515;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.3rem;
}

p, span {
  font-size: 1.02rem;
  line-height: 1.66rem;
}

hr {
  border-width: 0;
  border-bottom: 1px solid #0000003d;
  height: 0;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.ant-menu-item > a {
  text-transform: uppercase;
}
