html,
body {
  padding: 0;
  margin: 0;
  font: 1em/1.5 -apple-system, Lato, sans-serif;
  color: #ffffff;
}

body {
  background-color: #2B2515;
  &.dark {
    background-color: #110d01;
    header{
      border-bottom: 1px solid #000;
    }
    .ant-layout-sider-children {
      border-right: 1px solid #000;
    }
  }
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
  margin: 0 0 1.33rem 0;
}

a:hover {
  color: #D09800;
}

p, span {
  font-size: 1.02rem;
  line-height: 1.66rem;
  margin-bottom: 1.66rem;
}

hr {
  border: none;
  background: linear-gradient(to right, rgba(2, 0, 36, 0.05), rgba(0, 0, 0, 0.55), hsla(0, 0%, 0%, 0.05));
  height: 1px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

::selection {
  color: #fff;
  background: #D09800;
}

tr {
  td {
      font-size: 0.8rem;
  }
}